<a href="https://colab.research.google.com/github/gaganreddy7977/python-assignment/blob/main/pandas_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

In [24]:
#------------------loading the data set---------------------
data_set=pd.read_excel('Sample - Superstore.xls')

In [19]:
print('Question 1: Find total number of orders in the dataset.')
data_set['Order ID'].unique()

Question 1: Find total number of orders in the dataset.

array(['CA-2016-152156', 'CA-2016-138688', 'US-2015-108966', ...,
       'CA-2014-110422', 'CA-2017-121258', 'CA-2017-119914'], dtype=object)

In [18]:
print('Question 2: Find the earliest order date.')
data_set['Order Date'].min()

Question 2: Find the earliest order date.

Timestamp('2014-01-03 00:00:00')

In [17]:
print('Question 3: Find the latest order date.')
data_set['Order Date'].max()

Question 3: Find the latest order date.

Timestamp('2017-12-30 00:00:00')

In [20]:
print(' Question 4: Find the total number of unique customers.')
number=data_set['Customer Name'].unique()
unique_customers=len(number)
unique_customers

 Question 4: Find the total number of unique customers.

793

In [28]:
print('Question 5: Find the total number of unique products sold.')
pd.value_counts(data_set['Product ID'].unique())

Question 5: Find the total number of unique products sold.

/tmp/ipython-input-739268669.py:2: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(data_set['Product ID'].unique())

OFF-ST-10001627    1
FUR-BO-10001798    1
FUR-CH-10000454    1
OFF-LA-10000240    1
FUR-TA-10000577    1
                  ..
FUR-TA-10001539    1
OFF-AP-10002892    1
OFF-BI-10003910    1
TEC-PH-10002275    1
OFF-AR-10002833    1
Name: count, Length: 1862, dtype: int64

In [25]:
print('Question 6: Find the total number of unique categories.')
pd.value_counts(data_set['Category'].unique())

Question 6: Find the total number of unique categories.

/tmp/ipython-input-3881021991.py:2: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(data_set['Category'].unique())

Furniture          1
Office Supplies    1
Technology         1
Name: count, dtype: int64